@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

.box{
  display: flex;
  justify-content: center;
}
.centertext {
  /* outline: 1px solid red; */
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.todos{
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  width: 500px;
}
 h1{
   font-size: 16px;
 }

 .openModalBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 30px;
  border: none;
  border-radius: 6px;
  background-color: cornflowerblue;
  color: white;
  margin: 1%;
  cursor: pointer;
}